---
import ProfileImage from '../assets/profile@2x.jpg';
import QRImage from '../assets/qr.png';

import CVSectionWeb from './AboutSectionWeb.astro';
import SvelteEmailDisplay from './SvelteEmailDisplay.svelte';

import { frontmatter as profile } from "@content/about/00-profile.md"
import { frontmatter as abstract } from "@content/about/01-abstract.md"

const email = btoa(profile.contact.email);
---

<CVSectionWeb noPadding>
  <div class="p-3 sm:pt-4 sm:pb-6 sm:px-6 dark:text-gray-200 font-display">
    <div class="pt-2">
      <div class="flex">
        <img class="rounded-full w-20 h-20" src={ProfileImage} alt="Chaiyapat's Image" />
        <div class="flex-1"></div>
        <a href="/card" aria-hidden="true" class="not-sr-only"><img class="w-20 h-20 dark:p-1 dark:bg-white dark:rounded" src={QRImage} /></a>
      </div>
      <div class="mt-4 md:flex">
        <div>
          <hgroup>
            <h1 class="text-3xl font-bold font-display">{profile.title}</h1>
            <h2 class="text-xl font-medium text-gray-500 font-display">{profile.subtitle}</h2>
          </hgroup>
          <summary class="block mt-2 leading-tight">{abstract.short}</summary>
        </div>
        <div class="w-full mt-4 max-w-[420px] md:mt-0 md:text-right print:text-right print:mt-0">
          <ul>
            <li class="h-6">
              <SvelteEmailDisplay client:only="svelte" obfuscatedEmail={email}></SvelteEmailDisplay>
            </li>
            {profile.contact.links.map((link) => (
              <li class="h-6">
                <span class="text-gray-600 mr-2 font-light inline-block w-16 md:w-auto" aria-hidden="true">{link[1]}.</span>
                <span class="sr-only">{link[0]}: </span>
                <span class="font-medium">
                  <a class="underline hover:opacity-75" href={`https://${link[2]}`}>{link[2]}</a>
                </span>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-500/10 py-3 px-3 sm:px-6 text-xs text-gray-700/70 print:hidden transition-colors duration-100 font-display">
    <h2 class="inline font-medium mr-1 after:content-[':']">Alias / Affiliation</h4>
    <div class="inline">{profile.aliasesAndAffiliation.join(', ')}</div>
  </div>
</CVSectionWeb>