---
import PreviouslyVisitedIcon from './PreviouslyVisitedIcon.svelte';

const { title, abstract, slug, isExist, originalTitle } = Astro.props
---

{ isExist ?
    <a
      href={`/garden/${slug}`}
      class="
        block border rounded shadow border-neutral-400/50 bg-reader dark:bg-reader-dark
        hover:shadow-lg hover:-translate-y-[1px] transition-transform duration-75
        p-2
      "
    >
      <article>
        <h1 class="font-medium font-display text-base leading-tight">
          { slug.split('/').length > 1 && <span class="font-display text-xs opacity-60">{slug.split('/').slice(0, -1).join('/')}/</span> }
          {originalTitle}
          <PreviouslyVisitedIcon client:only="svelte" slug={slug}></PreviouslyVisitedIcon>
        </h1>
        {abstract &&
          <div>
            <blockquote class="text-xs italic opacity-60 line-clamp-2">{abstract}</blockquote>
          </div>
        }
      </article>
    </a>
  :
    <div
      class="
        block border border-dashed rounded shadow border-neutral-400/50 opacity-75
        p-2
      "
    >
      <article>
        <h1 class="font-medium font-display text-base">{title}</h1>
      </article>
    </div>
}