---
import NoteProseSection from '@components/NoteProseSection.astro';
import NoteStage from '@components/NoteStage.astro';
import BaseLayout from './BaseLayout.astro'

import LogoGarden from 'src/assets/logo-garden.webp';

import PhInfoBold from '~icons/ph/info-bold'
import NoteCardSmall from '@components/NoteCardSmall.astro';
import { generatePathSlug } from 'src/garden';

const { title, created, updated, cover, abstract, unlisted, headings, node } = Astro.props.frontmatter || Astro.props;

const nonExistOutgoing = node.outgoing.filter((o) => !o.isExist).map((o) => o.slug)

// HACK: Dirty way / non-accessible way to disable non-existing link out
const styleForNonExistedOutgoing = nonExistOutgoing.map((slug) => `
  a[href="/garden/${slug}"] {
    opacity: 0.75;
    text-decoration-style: dashed;
  }
  a[href="/garden/${slug}"]:hover {
    opacity: 0.5;
  }
`).join('\n')

const extraClasses = `${node.upperDirs.map((ud) => `note-dir-${ud.slug}`).join(' ')} note-file-${generatePathSlug('', title)}`
---

<BaseLayout title={title} cover={cover || String(new URL('ogimage-note.png', Astro.site))} description={abstract}>
  <div class="bg-reader dark:bg-reader-dark shadow-2xl shadow-reader dark:shadow-reader-dark">
    <main class="mx-auto max-w-container pt-6 sm:pt-12">
      <div class="px-4">
        <div class="max-w-[65ch] mx-auto">
          <a href="/garden" class="text-sm p-1 hover:bg-primary-500/10 rounded -mx-1">
            ← Garden Home <img aria-hidden="true" src={LogoGarden} class="inline w-4 mb-1">
          </a>
        </div>
      </div>
      { (cover) &&
        <div class="max-w-[65ch] mx-auto mt-6 aspect-[1.91/1] bg-neutral-300 dark:bg-neutral-800 sm:rounded overflow-hidden border">
          <img src={cover} class="object-cover" alt={`Cover image for ${title}`} aria-hidden="true" />
        </div>
      }
      <article class="pb-12 px-4">
        <div class="max-w-container border-b border-gray-500/50 mb-12 pb-12">
          <header class="max-w-[65ch] mx-auto pt-8">
            {
              node.upperDirs.length > 0 &&
              <ul class="font-display text-sm opacity-60 font-medium mb-1">
                {
                  node.upperDirs.map((ud, i) => 
                    <li class="inline">{ ud.isExist ? <a class="underline hover:opacity-75" href={`/garden/${ud.slug}`}>{ud.name}</a> : <span>{ud.name}</span> }<span class="opacity-75"> /</span></li>
                  )
                }
              </ul>
            }
            <h1 class="font-display text-2xl sm:text-3xl font-bold">{title}</h1>
            <ul class="flex gap-3 mt-6">
              <li class="group">
                <span class="text-xs opacity-75 inline-flex items-center">
                  Stage
                  <a href="/garden/stages-of-my-note" class="opacity-0 group-hover:opacity-50 inline-flex ml-1 items-center hover:text-primary-700 dark:hover:text-primary-500">
                    <PhInfoBold aria-hidden="true"></PhInfoBold>
                    <span class="sr-only">Information about stage</span>
                  </a>
                </span>
                <NoteStage stage={0 + ((abstract) ? 1 : 0) + ((cover) ? 1 : 0)}></NoteStage>
              </li>
              {(created) && <li>
                <span class="text-xs opacity-75">Created</span>
                <div class="text-sm font-medium"><time datetime={created}>{new Date(created).toLocaleString('en-US', { month: 'short', day: 'numeric', year: 'numeric' })}</time></div>
              </li>}
              {(updated) && <li>
                <span class="text-xs opacity-75">Updated</span>
                <div class="text-sm font-medium"><time datetime={updated}>{new Date(updated).toLocaleString('en-US', { month: 'short', day: 'numeric', year: 'numeric' })}</time></div>
              </li>}
              {(unlisted) && <li>
                <span class="text-xs opacity-75">Publicity</span>
                <div class="text-sm font-medium">Unlisted</div>
              </li>}
            </ul>
            { (abstract) && <div class="mt-6">
                <blockquote class="italic text-sm opacity-60">
                  <span class="font-medium sr-only">Abstract:</span> {abstract}
                </blockquote>
              </div>
            }
          </header>
        </div>
        { headings.length > 0 &&
          <details class="max-w-[65ch] mx-auto mb-8 border rounded border-gray-500/30">
            <summary class="select-none font-display font-bold hover:opacity-75 cursor-pointer py-2 px-3">Contents</summary>
            <ul class="list-disc pl-8 pt-3 pb-2 border-t border-gray-500/30">
              {headings.map((h) => 
                  <li class="font-display mb-1 pl-1 py-1 md:py-0" style={`margin-left: ${h.depth - 1}em;`}>
                    <a href={`#${h.slug}`} class="hover:opacity-75 underline">{h.text}</a>
                  </li>
                )
              }
            </ul>
          </details>
        }
        <NoteProseSection style={styleForNonExistedOutgoing} classes={extraClasses}>
          <slot />
        </NoteProseSection>
      </article>
    </main>
    { (node.outgoing.length > 0 || node.incoming.length > 0) && 
      <div class="mx-auto max-w-container px-4">
        <div class="">
          <div class="mx-auto max-w-[65ch] border-t border-dashed border-gray-500/50 py-12">
            <h1 class="text-sm opacity-75 mb-3 font-display font-bold" id="related-notes">Related Notes</h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 gap-y-6">
              { node.incoming.length > 0 &&
                <div>
                  <h2 class="text-xs opacity-75 font-display">Backlinks</h2>
                  <ul class="space-y-1 mt-2">
                    { node.incoming.map((o) =>
                        <li>
                          <NoteCardSmall slug={o.slug} title={o.title} abstract={o.abstract} isExist={true}></NoteCardSmall>
                        </li>
                      )
                    }
                  </ul>
                </div>
              }
              { node.outgoing.length > 0 &&
                <div>
                  <h2 class="text-xs opacity-75 font-display">Outgoing Links</h2>
                  <ul class="space-y-1 mt-2">
                    { node.outgoing.map((o) =>
                        <li>
                          <NoteCardSmall slug={o.slug} originalTitle={o.originalTitle} title={o.title} abstract={o.abstract} isExist={o.isExist}></NoteCardSmall>
                        </li>
                      )
                    }
                  </ul>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</BaseLayout>